{% extends 'adminpages/adminbase.html' %}

{% block title %}Order Detail{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h3>Order Detail</h3>
            <hr>
            <p><span class="font-weight-bold"><b>Order ID:</b></span> {{order_obj.id}}</p>
            <p><span class="font-weight-bold"><b>Order Status:</b></span> {{order_obj.order_status}}</p>
            <p><span class="font-weight-bold"><b>Ordered On:</b></span> {{order_obj.created_at}} ({{order_obj.created_at|timesince}} ago)</p>
            <p><span class="font-weight-bold"><b>Customer Information:</b></span> {{order_obj.ordered_by}}, {{order_obj.mobile}}, {{order_obj.user.username}}</p>
            <p><span class="font-weight-bold"><b>Shipping Address:</b></span> {{order_obj.shipping_address}}, (<b>email</b>: {{order_obj.email}}) </p>
            <h4>Ordered Items</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Item</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>                       
                    </tr>
                </thead>
                <tbody>
                    {% for cproduct in order_obj.cart.cartproduct_set.all %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a target='blank' href="{% url 'ecomapp:productdetail' cproduct.product.slug %}">{{cproduct.product.title}}</a> ({{cproduct.product.id}})</td>
                        <td>{{cproduct.price}}</td>
                        <td>{{cproduct.quantity}}</td>
                        <td>{{cproduct.subtotal}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="4" class="text-end">Total: </th>
                        <th>${{order_obj.total}}</th>
                    </tr>
                </tbody>
            </table>
            <form action="{% url 'ecomadmin:adminorderchange' order_obj.id %}" method="POST">
                {% csrf_token %}
                <select name="status">
                    {% for i, j in allstatus %}
                    <option value="{{i}}" {% if i == order_obj.order_status %}selected{% endif %}>{{j}}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-info">Change Status</button>
            </form>
        </div>
    </div>
</div>
{% endblock content%}