{% extends 'adminpages/adminbase.html' %}

{% block title %}All Products{% endblock title %}

{% block content %}
<div class="container">
    <din class="row">
        <div class="col-md-12">
            <h3>All Products</h3>
            <a href="{% url 'ecomapp:adminproductcreate' %}">Add new product</a>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Product Title</th>
                        <th>Image</th>
                        <th>Price</th>
                        <th>Views</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in allproducts %}
                    <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{product.title}}</td>
                            <td><img src="{{product.image.url}}" style="height: 75px;" alt=""></td>
                            <td>{{product.selling_price}}</td>
                            <td>{{product.view_count}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </din>
</div>
{% endblock content %}