{% extends 'base.html' %}


{%block title%}About{%endblock%}
{% block content %}
    
    <div class="container">
        <h1>About</h1>
        <hr>

        <p>This is an about section for the books store</p>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut quam porta, efficitur arcu et, maximus dolor. Pellentesque nec vestibulum lectus. In bibendum est sapien. Sed eget ultricies magna, eget condimentum nisi. Nam volutpat commodo orci, vel mollis felis. Donec in tortor laoreet, porta ex eu, facilisis orci. Morbi auctor augue in hendrerit accumsan.

            Morbi eu gravida risus. Sed venenatis lacinia erat, id hendrerit tellus pharetra vitae. Sed cursus felis tincidunt ultrices aliquet. Suspendisse volutpat dignissim sapien, aliquam dignissim nisl pellentesque ac. Nunc vel finibus ex, sit amet fermentum ex. Nunc lobortis lacus ac purus convallis fringilla vel quis nisl. Duis dapibus, metus quis volutpat tincidunt, ipsum arcu feugiat neque, non vulputate augue nisi at mi. Pellentesque vitae nibh id lectus condimentum mollis ut at leo. Nunc tellus nunc, iaculis ut sapien tincidunt, dapibus auctor odio. Praesent euismod sit amet felis id elementum. Phasellus ac est non nisi fringilla commodo. Quisque dapibus dolor et mi egestas facilisis.
            
            Praesent tincidunt lectus vestibulum consectetur molestie. Aenean egestas vitae elit vitae mollis. Morbi in pretium lorem. Sed porttitor neque vel nunc vestibulum tincidunt vel in odio. Nunc lorem libero, posuere nec hendrerit non, condimentum et purus. Integer consequat arcu ornare tincidunt tincidunt. Proin libero purus, placerat pulvinar commodo et, tincidunt eget mi. Suspendisse nisl libero, tristique non eleifend ac, porttitor ut tortor. Nullam a ultricies ex, vitae placerat elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean at mauris accumsan quam efficitur efficitur. Nulla scelerisque, lorem ac faucibus condimentum, turpis turpis rutrum nulla, sed molestie arcu est volutpat tellus.</p>
    </div>
{% endblock %}
