{% extends 'base.html' %}

{% block title %}Checkout{% endblock title %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Itmes in Cart</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cproduct in cart.cartproduct_set.all %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{cproduct.product.title}}</td>
                        <td>{{cproduct.price}}</td>
                        <td>{{cproduct.quantity}}</td>
                        <td>{{cproduct.subtotal}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="4" class="text-right">Total</th>
                        <th>${{cart.total}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h3>Checkout Form</h3>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-info">Place Order</button>
            
            </form>
            
        </div>
    </div>
</div>
{% endblock content %}
