{% extends 'base.html' %}

{%block title%}Contact{%endblock%}
{% block content %}
    <div class="container">
        <h1>Contact</h1>
        <hr>
        <p>Feel free to contact for your queries.</p>
        <hr>
        <p><b>Phone:</b> 888-444-6666</p>
        <p><b>Email:</b> contact@bookstore.com</p>
        <p><b>Address:</b> 123 Toronto ave, Toronto, ON, MMM G1G</p>
        <hr>

        <p><b>Note:</b> All refunds/returns will take atleast 10 business days to process.</p>
    </div>
{% endblock %}
