{% extends 'base.html' %}

{% block title %}Update Profile{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            {% if user.id == customer.user.id %}
                <h3>Update Profile</h3>
                <hr>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button class="btn btn-info">Update</button>
    
                </form>
            {%else%}
                <h6>You are not authorised to edit this profile</h6>
            {%endif%}
        </div>
    </div>
</div>
{% endblock content %}