{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
<style>
    .errorlist{
        color: red;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h3>Customer Login Form</h3>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary">Login</button>  
                <p>or don't have an accont? <a href="{% url 'customerprofile:customerregistration' %}{% if request.GET.next %}?next={{request.GET.next}}{% endif %}">Register Here</a></p>    
                {% if error %}
                 <li>{{error}}</li>
                {% endif %}
            </form>
            <p><a href="{% url 'customerprofile:passwordforgot' %}">Forgot Password?</a></p>
        </div>
    </div>
</div>
{% endblock content %}
